<head>
	<!-- <META HTTP-EQUIV="refresh" CONTENT="15"> -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width">
	<meta name="viewport" content="initial-scale=1, maximum-scale=1, user-
	  scalable=yes"> <!--THIS-->
    <meta name="google-site-verification" content="Wk2pZArWbsur6WzwJ1bFhHrVEGzHpzeGbOFwsX284L4" />

	<meta name="description" content="Fitness Analytics Software">
	<meta name="keywords" content="web design, 
	 professional web design">
	<meta name="author" content="Harry Liversedge">
	<title>Wikipedia Page</title>
	<link rel="shortcut icon" href="logo/logo.ico"/>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>

<html>
    <body>
        <div class="app"></div>
    </body>
    <script src = "index.bundle.js"></script>
</html>